/*css1*/



body{
          overflow-x: hidden;
          overflow-y: scroll;
          background-color: #eef1f6;
        }

         ::-webkit-scrollbar {
            display: none;
            }

      .row{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
                    }

*{  margin: 0px;
    padding: 0px;

}
        .sidenav {
    height: 100%;
    width: 170px;
    margin-top:35px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px; 
    border-right: 1px solid #eef1f6;
}

.sidenav ul li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12px;
    color: #2f323e;
    display: block;
    border-bottom: 1px solid #eef1f6;
    cursor: pointer;
}

.sidenav ul ul li{
   background: white;
  border-bottom: 0.5px dotted grey;
  color: #2f323e;
  }

.sidenav ul ul{display: none;}
.sidenav ul li:hover>ul{display: block;

}

.sidenav ul li :hover {
    color: #0c7cb3;
}

.sidenav ul li a {
    color: #2f323e;
}

.btn {
    background-color: #0c7cb3;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid white;

 }

.btn1 {
    background-color: #0c7cb3;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px 18px;
    font-size: 12px;
    cursor: pointer;
    border-bottom: 1px solid white;
  }

  .checkbox-inline{
    padding: 10px;
  }